<header class="header">
        <a href="/" class="logo">
          <svg class="logo__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <use href="#icon-earth"></use>
          </svg>
          <span class="logo__body">
            <span class="logo__title">Newsify</span>
            <span class="logo__subtitle">stay informed</span>
          </span>
        </a>
        <nav class="nav header__nav">
          <ul class="nav__menu">
            <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
            <li class="nav__item">
              <a class="nav__link" href="/top-headlines">Top Headlines</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="/about">About</a></li>
          </ul>
        </nav>
        <div class="theme-switch">
          <input class="theme-switch__input" type="checkbox" id="themeToggle" />
          <label for="themeToggle" class="theme-switch__label">
            <svg
              class="theme-switch__icon theme-switch__icon_sun"
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-sun"></use>
            </svg>
            <svg
              class="theme-switch__icon theme-switch__icon_moon"
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-moon"></use>
            </svg>
          </label>
        </div>
      </header>