{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>News</title>
</head>
<body>

<div class="container">

    <div class="title">News</div>

    <form id="myForm" style="padding: 10px">
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" class="form-control" id="keyword" name="keyword" aria-describedby="emailHelp" placeholder="Enter keyword">
        </div>
        <div class="date-horizontal">
            <div class="form-group">
                <label for="date-from">Date From</label>
                <input type="date" class="form-control" id="date-from" name="date-from" placeholder="Date From">
            </div>
            <div class="form-group">
                <label for="date-to">Date To</label>
                <input type="date" class="form-control" id="date-to" name="date-to" placeholder="Date To">
            </div>
        </div>
        <div class="form-group">
            <label for="sort">sortBy</label>
            <select class="form-control" id="sort" name="sort">
                <option>relevancy</option>
                <option>popularity</option>
                <option>publishedAt</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div id="formResponse"></div>

</div>




<script src="{% static 'news/js/index.js' %}"></script>
</body>
</html>